*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parcours{
    border: 1px solid red;
    height: 4rem;
}

.section{
    
 
}

.section {
    margin-right: 10px; /* Adjust the negative margin as needed to control the spacing */
    border: 1px solid purple;
}

    

.seat{
    border: 1px solid gold;
}