@page
@using VisitorPlacementModels
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>Event Seating</title>
   
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" id="parcours">
                <h1 class="align-middle">Parcours</h1>
            </div>
        </div>

        <div class="row mx-auto justify-content-around" id="section-container">
            @foreach (var sect in Model.Sections)
            {
                <div class="section col-md-@(sect.SeatsPerRow / 2)">
                    <h2 class="text-center">@sect.Name</h2>
                    @for (int row = 1; row <= sect.Rows; row++)
                    {
                        <div class="row flex">
                            @for (int seat = 1; seat <= sect.SeatsPerRow; seat++)
                            {
                                <div class="seat" style="width: calc((100% / @sect.SeatsPerRow) - 2px);">@sect.Name@(row)-@seat</div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</body>
</html>
